<div id="newscontainer">
    <div id="newsTitleList">
      <div class="alert alert-primary" role="alert">
        <span style="color: grey; font-weight: bolder; "
          >Latest news of Tunisia
        </span>
      </div>
    </div>
  
    <div>
      <div id="wrapper">
        <span *ngFor="let oneNews of latestLocal">
          <div>
            <app-onenews [oneNews]="oneNews"></app-onenews>
          </div>
        </span>
      </div>
    </div>
  
    <br />
    <div id="goToAll">
      <!-- <div class="d-inline p-2 bg-primary text-white"><a [routerLink]="['','detail-news']" (click)="nationalType()">More news ...</a></div> -->
      <button type="button" class="btn btn-secondary" (click)="nationalType()">More news...</button>
    </div>
    <br /><br />
    <div id="newsTitleList">
      <div class="alert alert-primary" role="alert">
        <span style="color: grey; font-weight: bolder;"
          >Latest news of the world
        </span>
      </div>
    </div>
    <div>
      <div id="wrapper">
        <span *ngFor="let oneNews of latestInter">
          <div>
            <app-onenews [oneNews]="oneNews"></app-onenews>
          </div>
        </span>
      </div>
    </div>
    
 <br />
    <div id="goToAll">
     <button type="button" class="btn btn-secondary" (click)="internationalType()">More news...</button>
    </div>
    <br /><br />
    <div id="newsTitleList">
      <div class="alert alert-primary" role="alert">
        <span style="color: grey; font-weight: bolder;"
          >Latest news of the economy</span
        >
      </div>
    </div>
  
    <div>
      <div id="wrapper">
        <span *ngFor="let oneNews of latestEconomy">
          <div>
            <app-onenews [oneNews]="oneNews"></app-onenews>
          </div>
        </span>
      </div>
    </div>
  
    <br />
    <div id="goToAll">
      <button type="button" class="btn btn-secondary" (click)="economyType()">More news...</button>
    </div>
    <br /><br />
    <div id="newsTitleList">
      <div class="alert alert-primary" role="alert">
        <span style="color: grey; font-weight: bolder;"
          >Latest news of the sport</span
        >
      </div>
    </div>
    <div>
      <div id="wrapper">
        <span *ngFor="let oneNews of latestSport">
          <div>
            <app-onenews [oneNews]="oneNews"></app-onenews>
          </div>
        </span>
      </div>
    </div>
  
    <br />
    <div id="goToAll">
      <button type="button" class="btn btn-secondary" (click)="sportType()">More news...</button>
    </div>
  
    <br /><br />
    <div id="newsTitleList">
      <div class="alert alert-primary" role="alert">
        <span style="color: grey; font-weight: bolder;"
          >Latest news of the art</span
        >
      </div>
    </div>
  
    <div>
      <div id="wrapper">
        <span *ngFor="let oneNews of latestArt">
          <div>
            <app-onenews [oneNews]="oneNews"></app-onenews>
          </div>
        </span>
      </div>
    </div>
  
    <br />
    <div id="goToAll">
      <button type="button" class="btn btn-secondary" (click)="artType()">More news...</button>
    <br /><br />
  </div>
