#buttonNews{
    position:relative;
    width:120px;
    height:45px;
}
#buttonsList {
  margin: auto;
  width: 50%;
}

#NewsEditionContainer {
    margin: auto;
    width: 42%;
}
.img{
    position:absolute;
    width:5%x;
    height:15px;
    border-radius: 50%;
}

#adminNewsText *{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 0 !important;
    background-color: #b3e3fc;
    line-height: 50px;
    top: 20px;
    
  
  }
  #message *{
    position:relative;
    width:600px;
    border-radius: 0 !important;
}

