<div *ngIf="allOptions">
  <div id="adminNewsText">
    <h2 style="color: grey; font-weight: 900">
      Admin interface:News/{{ categoryTitle }}
    </h2>
  </div>
  <br />
  <div id="message">
    <div class="alert alert-info" role="alert">
      <span style="font-weight: bold"
        >If you like to add a new news click on add, else if you want to edit or
        delete a news clik on Edit/Delete</span
      >
    </div>
  </div>

  <div id="startMenu">
    <div id="editionButton">
      <table>
        <tr>
          <th>
            <div id="optiontable">
              <button
                type="button"
                id="buttonNews"
                class="btn btn-primary"
                (click)="add()"
              >
                Add
              </button>
            </div>
          </th>
          <th>
            <div id="optiontable">
              <button
                type="button"
                id="buttonNews"
                class="btn btn-primary"
                (click)="deleteedit()"
              >
                Edit/Delete
              </button>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>

<div *ngIf="addNews">
  <div id="adminNewsText">
    <h2 style="color: grey; font-weight: 900">
      Admin interface:News/{{ categoryTitle }}/Add-News
    </h2>
  </div>
  <br />
  <div id="message">
    <div class="alert alert-info" role="alert">
      <span style="font-weight: bold"
        >Enter the title ,upload its image and write its corresponding
        text!</span
      >
    </div>
  </div>

  <div *ngIf="formShow" id="newsAdd">
    <form (ngSubmit)="sendFirst()">
      <div id="newsInputs">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Title</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Title"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="title"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <p style="color: red">{{ titleAlert }}</p>
        <br />
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"
              >Image</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Image"
            aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="imageUrl"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <p style="color: red">{{ imageAlert }}</p>
        <br />
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold blue-text">Write your text here</h5>
          <div class="form-group basic-textarea rounded-corners">
            <textarea
              class="form-control z-depth-1"
              id="exampleFormControlTextarea345"
              rows="13"
              placeholder="Write your article..."
              [(ngModel)]="textNews"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </div>
        </div>
        <br />
        <p style="color: red">{{ textAlert }}</p>
        <p style="color: red">{{ alert }}</p>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      <!-- <input
      #fileInput
      type="file"
      id="myFile"
      
      name="file"
      (change)="fileChangeEvent($event.target.files)"
    /> -->
    </form>
  </div>
  <div *ngIf="modelShow" id="newsAdd">
    <div>
      <div id="newsContainer">
        <div>
          <div id="newscomponent">
            <div>
              <img src="{{ imageUrl }}" />
            </div>
            <div id="addedAt">
              <p><span>&#x270D;</span> hhhhh GMT</p>
            </div>
            <div id="onenewsTitle">
              <p>{{ title }}</p>
            </div>
            <div id="onenewsDescription">
              <p>
                {{ textNews.slice(0, 110)
                }}<span style="font-weight: bold">...</span>
              </p>
            </div>

            <div id="buttonReadMore">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="readmore()"
              >
                Read more...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="detailNews" id="detailAdd">
    <div>
      <div id="readmoreContent">
        <div id="categoryContainer">
          <h2 style="color: grey; font-weight: 900">category</h2>
        </div>
        <div id="imageContainer">
          <img id="detailImage" src="{{ imageUrl }}" />
        </div>
        <div id="dateContainer">
          <p><span>&#x270D;</span> date Time GMT</p>
        </div>
        <div id="titleContainer">
          <h1>{{ title }}</h1>
        </div>
        <div id="textContainer">
          <hr />
          <br />
          <p
            style="
              font-size: 20px;
              font-style: italic;
              font-family: Times New Roman, Times, serif;
            "
          >
            {{ textNews }}
          </p>
          <br />
          <hr />
        </div>
        <div id="buttonEdit">
          <button type="button" class="btn btn-primary" (click)="edit()">
            <span>&#8656;</span>Edit
          </button>
          <button type="button" class="btn btn-primary" (click)="sendTo()">
            <span>&#8656;</span>Edit
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="successSend" id="successMessage">
    <h1>Congratulation you successefully add the new news</h1>
    <button type="button" class="btn btn-primary" (click)="anOtherNews()">
      Add an other {{ categoryTitle }} news
    </button>
  </div>
</div>
<div *ngIf="editdeleteNews">
  <br />
  <h2 style="color: grey; font-weight: 900">
    Admin interface:News/{{ categoryTitle }}/Delete/Edit
  </h2>
  <div id="wrapper">
    

  
    <span *ngFor="let oneNews of dataNews">
      
      <app-adminonenews [oneNews]="oneNews"></app-adminonenews>
   
    </span>
   
  </div>
</div>
