<app-navbar></app-navbar> <br />

  
<div *ngIf="initialIn">
  <div id ="adminText">
    <h2 style="color:grey; font-weight:900;"
       >Admin interface
   </h2>
   </div>
   <br>
<div id="message">
  <div class="alert alert-info" role="alert">
    <span style="font-weight: bold"
      >Click on the bottom below in order to make your desired
      modifications!!</span
    >
  </div>
</div>
<br />
<div id="choiceList">
  <table>
    <tr>
      <td>
        <div id="cardOf">
          <div class="card">
            <h4 class="card-header"><span style="font-weight: bold;font-size: larger;">News</span></h4>
            <div class="card-body">
              
              <p class="card-text">
                Add,edit and delete news, just click on the bottom bellow!
              </p>
              <a class="btn btn-primary" (click)="news()">News Interface</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div id="cardOf">
          <div class="card">
            <h4 class="card-header"><span style="font-weight: bold;font-size: larger;">Regions</span></h4>
            <div class="card-body">
             
              <p class="card-text">
                Add regions for the user signup choice,just click on the bottom bellow!
              </p>
              <a class="btn btn-primary" (click)="regions()">Region Interface</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div id="cardOf">
          <div class="card">
            <h4 class="card-header"><span style="font-weight: bold;font-size: larger;">Advertising</span></h4>
            <div class="card-body">
              
              <p class="card-text">
                Add and delete your advertisings,just click on the bottom bellow!!
              </p>
              <a class="btn btn-primary" (click)="advs()">Advs Interface</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div id="cardOf">
          <div class="card">
            <h4 class="card-header"><span style="font-weight: bold;font-size: larger;">Users</span></h4>
            <div class="card-body">
            
              <p class="card-text">
               Get user list and delete desired ones,just click on the bottom bellow!
              </p>
              <a  class="btn btn-primary" (click)="users()">User Interface</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
</div>


    <div *ngIf="newsIn">
        <app-adminnews></app-adminnews>
        <div id="returnButton">
          <button
          type="button"
          id="buttonNews"
          class="btn btn-primary"
          (click)="return()"
         >
       
          Previous
         </button>
          </div>
    </div>
    <div *ngIf="regionsIn">
        <app-adminregions></app-adminregions>
    </div>
    <br><br>
