<div id="newscomponentdetail">
    
      <img  id ="imageTwo" src={{oneNews.image}} />
      <div id="addedAtTwo">
       <p>  {{date}} @ {{time}} GMT   </p>
      </div>
      <div id="onenewsTitleTwo">
      <p>{{oneNews.title}}</p>
    </div>
       <div id="onenewsDescriptionTwo">
      <p >{{oneNews.text.slice(0,200)}}<span style="font-weight: bold">...</span></p>
    </div>
      
      <div id="buttonReadMoreTwo">
      <button type="button" class="btn btn-secondary" (click)="readMore()">Read more..</button>
    </div>
     
    </div>
  
