<div class="navAll">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="dateandtime">
        <div class="day">
          <p div="textDay">
            <span style="font-style: italic; font-weight: bold; font-size: 12px"
              >Tunis</span
            >

            <span
              style="font-size: 12px; font-style: italic; font-weight: bold"
            >
              {{ this.today }} ,</span
            >
          </p>
        </div>

        <div class="date">
          <p div="textDay">
            <span
              style="font-size: 12px; font-style: italic; font-weight: bold"
            >
              {{ this.date }}</span
            >
          </p>
        </div>

        <div class="time">
          <p div="textTime">
            {{ this.fullTime }}
          </p>
        </div>
      </div>
      <div id="logo-journal">
        <a [routerLink]="['']">
          <img src="assets/logoJournal.png" />
        </a>
      </div>
      <div id="searchBar">
        <div class="md-form active-cyan active-cyan-2 mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="stickyPosition">
    <div class="nav-horizantal">
      <div class="col-md-6">
        <div id="texthorizantal">
          <div id="nav">
            <ul class="nav red-gradient py-4 mb-4 font-weight-bold z-depth-1">
              <li class="nav-item">
                <a
                  class="nav-link active white-text"
                  [routerLink]="['', 'detail-news']"
                  (click)="nationalType()"
                  ><span style="color: wheat">National</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link white-text"
                  [routerLink]="['', 'detail-news']"
                  (click)="InternationalType()"
                  ><span style="color: wheat">International</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link white-text"
                  [routerLink]="['', 'detail-news']"
                  (click)="economyType()"
                  ><span style="color: wheat">Economy</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link white-text"
                  [routerLink]="['', 'detail-news']"
                  (click)="sportType()"
                  ><span style="color: wheat">Sport</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link red-text" [routerLink]="['', 'detail-news']"
                (click)="artType()"
                  ><span style="color: wheat">Art</span></a
                >
              </li>
              <div id="connectLogo">
                <div *ngIf="!ifLogged">
                  <div>
                    <a [routerLink]="['', 'log-in']">
                      <img id="photoConnect" src="assets/connectLogo.png" />
                    </a>
                  </div>

                  <div id="signInText">
                    <p>Connect</p>
                  </div>
                </div>
                <div *ngIf="ifLogged">
                  <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                  <div id="logout">
                    <button (click)="logout()">LogOut</button>
                  </div>
                </div>
              </div>
              <div></div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
