<div class="navAll">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="dateandtime">
        <div class="day">
          <p div="textDay">
            <span style="font-style: italic; font-weight: bold; font-size: 12px"
              >{{city}}</span
            >

            <span
              style="font-size: 12px; font-style: italic; font-weight: bold"
            >
              {{ this.today }} ,</span
            >
          </p>
        </div>

        <div class="date">
          <p div="textDay">
            <span
              style="font-size: 12px; font-style: italic; font-weight: bold"
            >
              {{ this.date }}</span
            >
          </p>
        </div>

        <div class="time">
          <p div="textTime">
            {{ this.fullTime }}
          </p>
        </div>
      </div>
      <div id="logo-journal">
        <a [routerLink]="['']">
          <img src="assets/logoJournal.png" />
        </a>
      </div>
      <!-- <div id="searchBar">
        <div class="md-form active-cyan active-cyan-2 mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
      </div> -->
    </div>
  </div>
  <div class="stickyPosition">
    <div class="nav-horizantal">
      <div class="col-md-6">
        <div id="texthorizantal">
          <div id="nav">
            <ul class="nav red-gradient py-4 mb-4 font-weight-bold z-depth-1">
              <li class="nav-item">
                <a
                  class="nav-link active white-text"
                  [routerLink]="['', 'detail-news']"
                  [queryParams]="{category:'national'}"
                  (click)="nationalType()"
                  ><span style="color: wheat">National</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link white-text"
                  [routerLink]="['', 'detail-news']"
                  [queryParams]="{category:'international'}"
                  (click)="InternationalType()"
                  ><span style="color: wheat">International</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link white-text"
                  [routerLink]="['', 'detail-news']"
                  [queryParams]="{category:'economy'}"
                  (click)="economyType()"
                  ><span style="color: wheat">Economy</span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link white-text"
                  [routerLink]="['', 'detail-news']" [queryParams]="{category:'sport'}"
                  (click)="sportType()"
                  ><span style="color: wheat">Sport</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link red-text" [routerLink]="['', 'detail-news']" [queryParams]="{category:'art'}"
                (click)="artType()"
                  ><span style="color: wheat">Art</span></a
                >
              </li>
              <li>

                <div class="active-cyan-3 active-cyan-4 mb-4">
                  <div id=SearchBar>
                  <input class="form-control"  type="text" id="iconified" placeholder="Search..." aria-label="Search">
                </div>
              </div>
     
      
            </li>
               
              <li class="nav-item">
              <div id="connectLogo">
                <div *ngIf="!ifLogged"><a [routerLink]="['', 'log-in']">
                  <div>
                     <img id="photoConnect" src="assets/connectLogo.png" />
                    
                  </div>
                 </a>
                 
                  <div id="signInText">
                    <p>My account</p>
                  </div>
                </div>
                <div *ngIf="ifLogged">
                  <div id="userName">
                  <h4 style="color:wheat;font-weight: bold;">{{ user.firstName }}{{ user.lastName }}</h4>
                </div>
                  <div id="logout">
                    <button class="btn bg-transparent"(click)="logout()"><span style="color:wheat">logout</span></button>
                    
                  </div>
                </div>
              </div>
            </li>
              <div>

              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
